<h2>My Heroes</h2>

{{hero.id}} {{hero.name}}


<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)">

    <div class="card mdl-cell--6-col mdl-card mdl-shadow--2dp">

      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </div>


  </li>
</ul>


<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>
</div>

